<html>
    <head></head>
    <body>
        <form action="/add-trip" method="POST">
            <input type="text" />
            <input type="text" />
            <button>Save</button>
        </form>
    </body>
</html>