<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="bootstrap.min.css">
        <title>Button Area</title>
    </head>
    <body>
        <div class="container-area jumbotron jumbotron-fluid">
            <div class="card centered justified">
                <img src="logo.png" class="card-image-top flexible" alt="logo" />
                <ul class="list-group">
                    <li class="list-group-item">
                        <form class="button-press" action="/buttonPressed" method="POST">
                            <input class="btn btn-success" type="submit" value="Unlock Vehicle" />
                        </form>
                        <h6 style="margin-top: 8px;">{{message}}</h6>
                    </li>
                    <li class="list-group-item">
                        <h4 class="updating-password card-title">Change Your Password</h4>
                        <form id="updating-password-form" action="/passwordUpdate" method="POST">
                        <hr />
                            <input class="form-control centered" type="text" name="password" placeholder="New Password"/>
                            <hr />
                            <input class="form-control centered" type="text" name="password2" placeholder="Re-Enter New Password"/>
                            <hr />
                            <input class="btn btn-outline-success" type="submit" value="Submit" />
                        </form>
                        <h6 style="margin-top: 8px;">{{message}}</h6>
                    </li>
                    <li class="list-group-item">
                        <form action="/" method="GET">
                            <input class="btn btn-danger" type="submit" value="User Log Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <script src="bootstrap.min.js"></script>
    </body>
</html>