<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container-area jumbotron jumbotron-fluid">
        <form class="centering-area container card"action="/login" method="POST">
            <div class="card-body center-logins">
                <input class="form-control centered bigger-font" type="password" name="password" placeholder="Enter password" aria-lable="Enter password" />
                <input class="btn btn-success btn-lg" type="submit" style="margin-top: 16px;" />
                <div id="error-message">
                    <h4>{{message}}</h4>
                </div>
            </div>
        </form>
    </div>
    <script src="bootstrap.min.js"></script>
</body>
</html>